<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Nova senha de acesso - Menos peso</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<p>
    		Olá <b><span th:text="${nome}"></span></b>!
        </p>
        <p>
            Segue abaixo, a sua nova senha de acesso ao site www.menospeso.com.br, conforme a sua solicitação:
        </p>
    	<p>
    		Usuário: <br /><b><span th:text="${usuario}"></span></b>
        </p>
    	<p>
    		E-mail: <br /><b><span th:text="${email}"></span></b>
        </p>        
    	<p>
    		Nova senha: <br /><b><span th:text="${senha}"></span></b>
        </p>        
        <p>
        	Não perca tempo, acesse o site Menos peso agora mesmo, monte a sua dieta e melhore a sua qualidade de vida!
        </p>
        <p>
            <img src="sample.png" th:src="'cid:' + ${imageResourceName}" />
        </p>
        <p>
            Atenciosamente, <br />
            &emsp; <em>Equipe Menos peso</em>
        </p>
    </body>
</html>
