<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Security Tutorial</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async="async"	defer="defer"></script>
</head>

<body>


	<div class="container">
		<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Autenticação"></h3>
			<br /> 
			<input type="text" id="email" name="email" th:placeholder="Email" class="form-control" /> <br /> 
			<input type="password" th:placeholder="Password" id="password" name="password" class="form-control" /> <br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Favor revisar os dados
					de autenticação!</p>
			</div>
			<div class="g-recaptcha"
				data-sitekey="6LcxgSoUAAAAAB7XEafI466yO9PWoG0pqi77bqq-"
				data-callback="enableBtn"></div>
			<br />
			<button class="btn btn-lg btn-primary btn-block" id="btnLogin" name="Submit" value="Login" type="Submit" th:text="Login"></button>

		</form>
	</div>
	<script>
		$(document).ready(function() {
			$('#btnLogin').prop('disabled', false);
		});
		
		function enableBtn(data) {
			$('#btnLogin').prop('disabled', false);
		}
	</script>
</body>
</html>