<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:fragment="headerFragment">
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <meta name="description" content=""/>
	    <meta name="author" content="Menos peso"/>
	    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>
	    <link href="css/bootstrap.css" rel="stylesheet"/>
	    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/principal.css" rel="stylesheet"/>
	    <link href="css/metisMenu.min.css" rel="stylesheet"/>
	    <link href="css/timeline.css" rel="stylesheet"/>
	    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	    <link href="css/morris.css" rel="stylesheet"/>
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	        <script src="js/html5shiv.js"></script>
	        <script src="js/respond.min.js"></script>
	    <![endif]-->
	    <script type="text/javascript" th:inline="text">
	    	function pageOnLoad() {
	    		showDialogMessage('[[(${mensagem} ? ${mensagem.titulo} : '')]]','[[(${mensagem} ? ${mensagem.texto} : '')]]','[[(${mensagem} ? ${mensagem.tipoMensagem.nome} : '')]]');
	    		$("#trocaSenhaModal").modal('[[(${exibeTrocaSenhaModal} ? 'show' : 'hide')]]');
	    		$("#selecionaPerfilModal").modal('[[(${exibeSelecionaPerfilModal} ? 'show' : 'hide')]]');
		    }
	    </script>	
		<title th:text="#{index.title}"></title>    
    </head>
    
	<body>
	
		<div th:fragment="topoMenuFragment">
			<!-- Navigation -->
	        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a href="/"><img class="img-responsive" src="img/logo.png" alt=""/></a>
	            </div>
	            <!-- /.navbar-header -->
	
	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                    <a class="dropdown-toggle block">
	                        Olá,  <span th:text="${session.userSession.nome}" th:unless="${session.userSession == null}"></span>
	                    </a>
	                </li>
	                <li class="dropdown" title="Trocar Perfil de Usuário" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
	                    <a class="dropdown-toggle" data-toggle="modal" href="#selecionaPerfilModal" >
	                        <i class="fa fa-users fa-fw"></i>
	                    </a>
					</li>
	                <li class="dropdown" title="Trocar Senha">
	                    <a class="dropdown-toggle" data-toggle="modal" href="#trocaSenhaModal">
	                        <i class="fa fa-lock fa-fw"></i>
	                    </a>
					</li>					
	                <li class="dropdown" title="Encerrar a sessão">
	                    <a class="dropdown-toggle" href="/logout">
	                        Sair <i class="fa fa-sign-out fa-fw"></i>
	                    </a>
	                </li>	                
	            </ul>
	            <!-- /.navbar-top-links -->
	
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li class="text-center">
			                    <span class="fa-stack fa-4x">
			                        <i class="fa fa-circle fa-stack-2x icon-color"></i>
			                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
			                    </span>	                            
	                        </li>
	                        <li>
	                            <a href="/userIndex"><i class="fa fa-dashboard fa-fw"></i> Página Inicial</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-edit fa-fw"></i> Atualizações</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Ferramentas</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="#">Gráficos</a>
	                                </li>
			                        <li>
			                            <a href="#">Tabelas</a>
			                        </li>	                                
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>	                        
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>
	    </div>
	
		<div th:fragment="footerFragment">

			<!-- Inicio - Troca senha Modal -->
		  	<div class="modal fade" id="trocaSenhaModal" role="dialog">
		    	<div class="modal-dialog">
			      	<!-- Modal content-->
			      	<div class="modal-content">
			        	<div class="modal-header">
			          		<button type="button" class="close" data-dismiss="modal">&times;</button>
			          		<h4><span class="glyphicon glyphicon-random"></span> Trocar Senha</h4>
			        	</div>
				        <div class="modal-body">
				          	<form action="#" th:action="@{/trocaSenha}" th:object="${user}" id="trocaSenhaForm" novalidate="novalidate" method="post">
				            	<div class="form-group has-feedback">
				              		<label for="trocaSenhaFormSenhaAtual"><span class="glyphicon glyphicon-eye-open"></span> Senha Atual*</label>
				              		<input type="password" class="form-control" 
				              				id="trocaSenhaFormSenhaAtual" 
				              				th:field="${user.password}" 
				              				maxlength="20" required="required"
				              				placeholder="Informe a sua Senha Atual" />
				              		<span class="glyphicon form-control-feedback" id="trocaSenhaFormSenhaAtual1"></span>
				            	</div>
				            	<div class="form-group has-feedback">
				              		<label for="trocaSenhaFormNovaSenha"><span class="glyphicon glyphicon-eye-open"></span> Nova Senha*</label>
				              		<input type="password" class="form-control" 
				              				id="trocaSenhaFormNovaSenha" 
				              				th:field="${user.novaSenha}" 
				              				maxlength="20" required="required" 
				              				placeholder="Informe a sua Nova Senha"/>
				              		<span class="glyphicon form-control-feedback" id="trocaSenhaFormNovaSenha1"></span>
				            	</div>
				            	<div class="form-group has-feedback">
				              		<label for="trocaSenhaFormConfirmacaoNovaSenha"><span class="glyphicon glyphicon-eye-open"></span> Confirmação da Nova Senha*</label>
				              		<input type="password" class="form-control" 
				              				id="trocaSenhaFormConfirmacaoNovaSenha" 
				              				th:field="${user.confirmacaoNovaSenha}" 
				              				maxlength="20" required="required" 
				              				placeholder="Informe a Confirmação da sua Nova Senha" />
				              		<span class="glyphicon form-control-feedback" id="trocaSenhaFormConfirmacaoNovaSenha1"></span>
				            	</div>
                                <div class="form-group">
                                   	<p class="help-block text-danger" th:text="${mensagem.textoModal}"></p>
                                </div>				            	
				              	<button type="submit" name="trocaSenha" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Trocar Senha</button>
				          	</form>
				        </div>
				        <div class="modal-footer">
				          	<p class="center">*Informe a sua Senha Atual, a sua Nova Senha e a Confirmação da Nova Senha</p>
				        </div>
					</div>
		    	</div>
		  	</div>   	
		  	<!-- Fim - Troca senha Modal -->	
		  	
			<!-- Inicio - SelecionaPerfil Modal -->
			<div class="modal fade" id="selecionaPerfilModal" role="dialog" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
		    	<div class="modal-dialog">
			      	<!-- Modal content-->
			      	<div class="modal-content">
			        	<div class="modal-header">
			          		<button type="button" class="close" data-dismiss="modal">&times;</button>
			          		<h4><span class="glyphicon glyphicon-sort"></span> Acessar com outro Perfil de Usuário</h4>
			        	</div>
				        <div class="modal-body">
				          	<form action="#" th:action="@{/redirectUser}" th:object="${user}" id="selecionaPerfilUsuarioForm" novalidate="novalidate" method="post">
			    				<button type="submit" name="redirectUser" class="btn btn-success btn-block"> Perfil de Usuário</button>
				          	</form>
				          	<div sec:authorize="hasRole('ROLE_MANAGER')">
					          	<br />
					          	<form action="#" th:action="@{/redirectManager}" th:object="${user}" id="selecionaPerfilManagerForm" novalidate="novalidate" method="post">
				    				<button type="submit" name="redirectManager" class="btn btn-success btn-block"> Perfil de Gerente</button>
					          	</form>
				          	</div>
				          	<div sec:authorize="hasRole('ROLE_ADMIN')">
					          	<br />
					          	<form action="#" th:action="@{/redirectAdmin}" th:object="${user}" id="selecionaPerfilAdminForm" novalidate="novalidate" method="post">
				    				<button type="submit" name="redirectAdmin" class="btn btn-success btn-block"> Perfil de Administrador</button>
					          	</form>
					        </div>
				        </div>
				        <div class="modal-footer">
				          	<p class="center">*Selecione o perfil de acesso desejado</p>
				        </div>
					</div>
		    	</div>
		  	</div>
		  	<!-- Fim - SelecionaPerfil Modal -->		  	
		  		
		  	<!-- jQuery -->
		    <script src="js/jquery-min.js"></script>
		
		    <!-- Bootstrap Core JavaScript -->
		    <script src="js/bootstrap.min.js"></script>
		    
		 	<!-- Bootbox Version 4.3.0 -->
			<script src="js/bootbox.min.js"></script>
		
		    <!-- Plugin JavaScript -->
		    <script src="js/jquery.easing.min.js"></script>
		    <script src="js/classie.js"></script>
		    <script src="js/cbpAnimatedHeader.js"></script>
			<script src="js/jquery.maskedinput.js"></script>
		
		    <!-- Form JavaScript -->
		    <script src="js/jquery.validate.min.js"></script>
			
		    <!-- Custom Theme JavaScript -->
		    <script src="js/principal.js"></script>
		    
		    <!-- Morris Charts JavaScript -->
		    <script src="js/morris.min.js"></script>	

		    <!-- Metis Menu Plugin JavaScript -->
    		<script src="js/metisMenu.min.js"></script>
		</div>
		
	</body>
	
</html>