<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<body>
	
		<div th:fragment="topoMenuFragment">
			<!-- Navigation -->
	        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	            </div>
	            <!-- /.navbar-header -->
	
	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                    <a class="dropdown-toggle">
	                        Olá, (Gerente) <span th:text="${session.userSession.nome}" th:unless="${session.userSession == null}"></span>!
	                    </a>
	                </li>
	                <li class="dropdown" title="Trocar Perfil de Usuário">
	                    <a class="dropdown-toggle" data-toggle="modal" href="#selecionaPerfilModal" >
	                        <i class="fa fa-users fa-fw"></i>
	                    </a>
					</li>
	                <li class="dropdown" title="Trocar Senha">
	                    <a class="dropdown-toggle" data-toggle="modal" href="#trocaSenhaModal">
	                        <i class="fa fa-lock fa-fw"></i>
	                    </a>
					</li>					
	                <li class="dropdown" title="Encerrar Sessão">
	                    <a class="dropdown-toggle" href="/SiteGestaoCondominio/logout">
	                        Sair <i class="fa fa-sign-out fa-fw"></i>
	                    </a>
	                </li>	                
	            </ul>
	            <!-- /.navbar-top-links -->
	
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li>
	                            <a href="/SiteGestaoCondominio/userIndex"><i class="fa fa-dashboard fa-fw"></i> Página Inicial</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-edit fa-fw"></i> Morador<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
			                        <li>
	                                    <a href="/SiteGestaoCondominio/listaMoradores">Listar</a>
	                                </li>
			                        <li>
			                            <a href="/SiteGestaoCondominio/cadastraMorador">Cadastrar</a>
			                        </li>	  
	                            </ul>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-edit fa-fw"></i> Funcionário<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
			                        <li>
	                                    <a href="/SiteGestaoCondominio/listaFuncionarios">Listar</a>
	                                </li>
			                        <li>
			                            <a href="/SiteGestaoCondominio/cadastraFuncionario">Cadastrar</a>
			                        </li>	  
	                            </ul>
	                        </li>	                        
	                        <li>
	                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Ferramentas</a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="#">Gráficos</a>
	                                </li>
			                        <li>
			                            <a href="#">Tabelas</a>
			                        </li>	                                
	                            </ul>
	                        </li>	                        
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>
		</div>

	</body>
	
</html>