<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
	<head>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <meta name="description" content="Index"/>
	    <meta name="author" content="Condominio Barra mais"/>
	    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>
	    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/principal.css" rel="stylesheet"/>
	    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	        <script src="js/html5shiv.js"></script>
	        <script src="js/respond.min.js"></script>
	    <![endif]-->
	    <script type="text/javascript" th:inline="text">
	    	function pageOnLoad() {
	    		showDialogMessage('[[(${mensagem} ? ${mensagem.titulo} : '')]]','[[(${mensagem} ? ${mensagem.texto} : '')]]','[[(${mensagem} ? ${mensagem.tipoMensagem.nome} : '')]]');
	    		$("#loginModal").modal('[[(${exibeLoginModal} ? 'show' : 'hide')]]');
		    }
	    </script>	
	    <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR"></script>
	    <script src="js/angular.min.js"></script>
		<script src="js/jquery-min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/bootbox.min.js"></script>
	    <script src="js/principal.js"></script>	
		<title th:text="#{index.title}"></title>    
	</head>
    
	<body id="page-top" class="index" onload="pageOnLoad();">
	
		<div>
		    <header>
		        <div class="container">
		        	<div class="wrapper">
			          	<form class="form-signin" action="#" th:action="@{/efetuaLogin}" th:object="${user}" id="loginForm" novalidate="novalidate" method="post">
			            	<h3 class="form-signin-heading">Sistema de Gestão do Condomínio Barra Mais</h3>
			            	<br />
			            	<div class="form-group has-feedback">
			              		<label for="loginFormEmail" class="sr-only">Usuário ou E-mail*</label>
			              		<input type="text" class="form-control" 
			              				id="loginFormEmail" 
			              				th:field="${user.email}" 
			              				maxlength="120" required="required" 
			              				placeholder="Informe o seu Usuário ou E-mail"
			              				autofocus="autofocus" />
			              		<span class="glyphicon form-control-feedback" id="loginFormEmail1"></span>
			            	</div>
			            	<div class="form-group has-feedback">
			              		<label for="loginFormSenha" class="sr-only">Senha*</label>
			              		<input type="password" class="form-control" 
			              				id="loginFormSenha" 
			              				th:field="${user.password}" 
			              				maxlength="20" required="required" 
			              				placeholder="Informe a sua Senha" />
			              		<span class="glyphicon form-control-feedback" id="trocaSenhaFormSenhaAtual1"></span>
			            	</div>
			            	<div class="checkbox">
					          	<label>
					            	<input type="checkbox" value="remember-me" /> Me lembrar
					          	</label>
					        </div>
                            <div class="form-group">
                               	<p class="help-block text-danger" th:text="${mensagem.textoModal}"></p>
                            </div>				        
                            <button type="submit" name="efetuaLogin" class="btn btn-lg btn-primary btn-block" >Entrar</button>    	
			          	</form>      					
		            </div>
		        </div>
		    </header>	
		</div>

	</body>
</html>