<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="WEB-INF/views/user/layout_user :: headerFragment"></head>

	<body onload="pageOnLoad();">

	    <div id="wrapper">
	
			<div th:include="WEB-INF/views/manager/layout_manager :: topoMenuFragment"></div>
	
			<!-- principal -->
	        <div id="page-wrapper">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h1 class="page-header">Listar Enquetes</h1>
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
                            	<span th:unless="${!session.enquetesSession.empty}">Ainda não existem enquetes cadastradas no sistema.</span>
                        	</div>
	                        <div class="panel-body" th:unless="${session.enquetesSession.empty}">
	                        	<div class="dataTable_wrapper">
	                                <table class="table table-striped table-bordered table-hover" id="enqueteDataTables">
	                                    <thead>
	                                        <tr>
	                                        	<th>Pergunta</th>
	                                            <th class="center">Data Inicial</th>
	                                            <th class="center">Data Final</th>
	                                            <th class="center">Status</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr class="odd gradeX trClick" th:each="enquete : ${session.enquetesSession}" th:href="@{/editaEnquete(id=${enquete.id})}">
	                                            <td th:text="${enquete.pergunta}"></td>
	                                            <td th:text="${#dates.format(enquete.dataInicio, #messages.msg('date.format'))}" class="center"></td>
	                                            <td th:text="${#dates.format(enquete.dataFim, #messages.msg('date.format'))}" class="center"></td>
	                                            <td class="center">
	                                            	<span class="glyphicon glyphicon-ok" th:unless="(${enquete.dataInativacao} != null)"></span>
	                                            	<span class="glyphicon glyphicon-ban-circle" th:unless="(${enquete.dataInativacao} == null)"></span>
	                                            </td>
	                                        </tr>
										</tbody>
									</table>
                                </div>                          	
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            <!-- /.row -->
   	        </div>
	        <!-- /#page-wrapper -->
	    </div>
	    <!-- /#wrapper -->
	    
       	<div th:include="WEB-INF/views/user/layout_user :: footerFragment"></div>

	</body>
	
</html>